<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perceptron Classification Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel = "stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Machine Learning: Perceptron Diagnostic</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Use Case
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/BBVA">BBVA Pipeline</a></li>
                            <li><a class="dropdown-item" href="/BankFraud">Bank Fraud</a></li>
                            <li><a class="dropdown-item" href="/FacialRecognition">Facial Recognition</a></li>
                            <li><a class="dropdown-item" href="/customerChurn">Customer Churn</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Supervised Learning
                        </a>
                        <ul class="dropdown-menu">
                            <li><h6 class="dropdown-header">Linear Regression</h6></li>
                            <li><a class="dropdown-item" href="/linearRegression/concepts">Concepts</a></li>
                            <li><a class="dropdown-item" href="/linearRegression/application">Application</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header">Logistic Regression</h6></li>
                            <li><a class="dropdown-item" href="/logisticRegression/concepts">Concepts</a></li>
                            <li><a class="dropdown-item" href="/logisticRegression/application">Application</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header">Perceptron classification model</h6></li>
                            <li><a class="dropdown-item" href="/perceptron/concepts">Concepts</a></li>
                            <li><a class="dropdown-item active" href="/perceptron/application">Application</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="layout">
        <nav class="sidebar shadow-sm">
            <h3>Sections</h3>
            <ul>
                <li><a href="#problem">Problem Descrption</a></li>
                <li><a href="#dataset">Dataset And Variables</a></li>
                <li><a href="#pipeline">Data Pipeline</a></li>
                <li><a href="#training" >Model Training</a></li>
                <li><a href="#prediction">Prediction</a></li>
                <li><a href="#metrics">Metrics</a></li>
            </ul>
        </nav>

        <main class="main">
            <div class="content">

                <div class="title mb-5">
                    <div class="overlay"></div>
                    <h1>  Perceptron classification model</h1>
                </div>

                <section id="problem" class="card p-4 shadow-sm mb-4">
                    <h3 class="text-primary"><i class="bi bi-journal-text"></i>Problem Descrption</h3>
                  <p>
                    The objective is to classify breast tumors as <strong> Benin (0)</strong> or 
                    <strong>Malignant (1) </strong> based on geometric characteristics obtained from 
                            digitized images of a fine needle aspiration (FNA) of a breast mass.
                    </p>
                </section>

                <div class="row">
                    <div class="cold-md-7">
                    <section id="dataset" class="card p-4 h-100 shadow-sm">    
                        <h4><i class="bi bi-database"></i>Dataseet explanation</h4>
                        <p class="small">
                            <em>The Breast Cancer Wisconsin (Diagnostic)</em> dataset, obtained from Kaggle, was used. This dataset contains 30 tumor-related features.
                            For this model, the top 10 average features were selected:
                        </p>
                        <div class="row g-2">
                            <div class="col-6">
                                <h4><i class="bi bi database"></i>Variables used </h4>
                                <ul class="small text-muted">
                                    <li>Average radius (Radius from the center to points on the perimeter)</li>
                                    <li>Average texture (Standard deviation of grayscale)</li>
                                    <li>Average perimeter</li>
                                    <li>Average area</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <span class="badge bg-secondary badge-custom">Softness</span> 
                                <span class="badge bg-secondary badge-custom">Compactness</span> 
                                <span class="badge bg-secondary badge-custom">Concavity</span> 
                                <span class="badge bg-secondary badge-custom">Concave points</span>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-md-5">
                    <section id="pipeline" class="card p-4 h-100 shadow-sm bg-light border-primay">
                        <h4> <i class="bi bi-gear-fill"></i>Preparation of the Data (Pipeline) </h4>
                        <ul class="small">
                            <li><strong>Cleaning:</strong> The IDs belonging to each diagnosis were removed and null values ​were used.</li>
                            <li><strong>Scaling:</strong> Data standardization (Z-score) using the StandardScaler to transform the features into a 
                                distribution with mean $\mu=0$ and variance $\sigma=1$, crucial for Perceptron convergence.
                            <li><strong>Division:</strong> The dataset was divided into 80% for weighted training and 20% for testing.</li>
                        </ul>
                    </section>
                </div>
            </div>

            <section id="training" class="card p-4 mt-4 shadow-sm ">
                <h3 class="bi bi-cpu">Model training</h3>
                <p>
                    The Perceptron learns by iteratively updating a vector of weights ($W$) and a bias ($b$). The activation function used is 
                    the Unit Step function.
                </p>
                <div class="row align-items-center">
                    <div class="col-md-6 text-center">
                        <h5>Learning Curve (Loss) </h5>
                        <img src="data:image/png;base64,{{ plot_url_errors }}" class="img-fluid rounded" alt="Convergence graph">
                        <p>
                            It shows the reduction in updates (errors) as the model adjusts its weights at each epoch.
                        </p>
                    </div>
                    <div class="cold-md-6">
                        <div class="p-3 bg-white border rounded">
                            <h6>Hyperparameters:</h6> 
                            <ul class="mb-0"> 
                                <li><strong>Learning Rate:</strong> 0.01</li> 
                                <li><strong>Epoches:</strong> 100</li> 
                                <li><strong>Function:</strong> $f(z) = 1$ if $z \ge 0$ else $0$ </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="prediction" class="card p-5 mt-4 border-primay shadow">
                <h3 class="text-center mb-4"> Diagnostic Prediction (Breast Cancer)</h3>
                <p>Enter the average cell mass values for a diagnosis:</p>
                <form method="POST" action="#prediction" class="row g-3">
                    <div class="cold-md-6">
                        <label class="form-label fw-bold small">Average radius</label>
                        <input type="number" step="any" name="radius" class="form-control shadow-sm" required>
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Average texture</label>
                        <input type="number" step="any" name="texture" class="form-control shadow-sm" required>
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Average perimeter</label>
                        <input type="number" step="any" name="perimeter" class="form-control shadow-sm" required>
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Average Area</label>
                        <input type="number" step="any" name="area" class="form-control shadow-sm" required>
                    </div>
                    
                    <div class="col-12 text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-lg w-100">Make a Prediction</button>
                    </div>
                </form>

                {% if prediction is not none%}
                <div class="mt-4 animate__animated animate__fadeIn">
                    <div class="p-4 rounded-3 shadow  text-center {% if prediction == 1 %}bg-danger text-white{% else %}bg-success text-white{% endif %}">
                        <h2 class="mb-0">
                            {% if prediction == 1 %}
                            <i class="bi bi-exclamation-triangle"></i> Result: Malignant
                            {% else %}
                            <i class="bi bi-shield-check"></i> Result: Beningn
                            {% endif %}
                        </h2>
                    </div>
                    <p>
                        The prediction is based on the decision frontier calculated by the model after training.
                    </p>
                </div>
                {% endif %}
            </section>

            <section id="metrics" class="mt-5">
                <h2 class="section-title mb-4">Evaluation Metrics</h2>
                <div class="row g-4 text-center">
                    <div class="col-md-3">
                        <div class="card p-3 border-left-blue">
                            <small class="text-muted">Accuracy</small>
                            <h4 class="mb-0">{{metrics.accuracy}}</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3 border-left-blue">
                            <small class="text-muted">Precicsion</small>
                            <h4 class="mb-0">{{metrics.precision}}</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3 border-left-blue">
                            <small class="text-muted">Recall</small>
                            <h4 class="mb-0">{{metrics.recall}}</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-3 border-left-blue">
                            <small class="text-muted">F1-Score</small>
                            <h4 class="mb-0">{{metrics.f1}}</h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="card p-3 h-100 text-center">
                                <h5>Confusion Matrix</h5>
                                <img src="data:image/png;base64,{{ plot_url_cm }}" class="img-fluid" alt="Confusion Matrix">
                                <p class="small text-muted mt-3">Allows visualization of the algorithm's performance by comparing actual values ​​against predictions,
                                    identifying False Positives and False Negatives.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card p-3 h-100 text-center">
                                <h5>ROC Curve Analysis</h5>
                                <img src="data:image/png;base64,{{ plot_url_roc }}" class="img-fluid" alt="ROC Curve">
                                <p class="small text-muted mt-3">The ROC curve illustrates the model's discriminatory ability. The area under the curve (AUC) 
                                    represents the probability that the model correctly classifies a random sample.</p>
                            </div>
                        </div>
                    </div>
            </section>

            {% block content%}
                    

                    <div class="interpretation-box mt-5 mt-6 shadow-sm">
                        <h4><i class="bi big-lightnuld-fill"></i>Final Interpretation of the Results</h4></h4>
                        <p>
                            The model exhibits robust performance. In the clinical setting, a high recall rate is the primary objective, as it indicates a low false negative rate (cases where cancer is present but was not detected).
                        </p>
                        <p>
                            <strong>Conclusion:</strong> Although the Perceptron is a model limited to linearly separable problems, the results demonstrate that, after adequate standardization of the variables, the dataset
                            presents a structure that allows for effective classification with this simple architecture
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </main>
    </div>

    <div class="header-section text-center">
        <div class="container">
            <h1><i class="bi bi-cp"></i></h1>
        </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock%}
</body>
</html>