/* Navbar*/
.nav-link {
    display: block;
    padding: 10px;
    color: rgb(179, 177, 177);
    text-decoration: none;
    /* border-left: 30px solid transparent; */
}

.nav-link:hover,
.nav-link.active {
    color: white;
    border-left: 3px solid var(--accent);
} 

.sidebar li {
    position: relative;
}

.sidebar ul ul {
    display: none;
    list-style: none;
    padding-left: 15px;
}

.sidebar li:hover>ul {
    display: block;
}

.sidebar ul ul li {
    margin: 8px 0;
}

.sidebar ul ul {
    transition: all 0.3s ease;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu{
    display: none;
    position: relative;
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu:hover .dropdown-menu{
    display: block;
}
