{% extends "base.html" %}
{% block title %}Machine Learning{% endblock %}
{% block content %}

<div class="main" style="max-width:1200px; margin:0 auto; padding:60px 40px;">

    <div class="hero">
        <h1>Machine Learning<br><span>Project</span></h1>
        <p>Explore models, concepts and real-world applications.</p>
    </div>

    <div class="card-grid">

        <div class="menu-card">
            <h2>ML Use Cases</h2>
            <div class="sub-card">
                <a href="{{ url_for('bbva_page') }}">BBVA Pipeline</a>
                <a href="{{ url_for('bank_page') }}">Bank Fraud</a>
                <a href="{{ url_for('facial_page') }}">Facial Recognition</a>
                <a href="{{ url_for('customerChurn_page') }}">Customer Churn</a>
            </div>
        </div>

        <div class="menu-card">
            <h2>Supervised Learning</h2>
            <div class="sub-card">
                <h3>Linear Regression</h3>
                <a href="{{ url_for('linealConcept') }}">Basic Concepts</a>
                <a href="{{ url_for('linealApplication') }}">Application</a>
            </div>
            <div class="sub-card">
                <h3>Logistic Regression</h3>
                <a href="{{ url_for('logisticConcept') }}">Basic Concepts</a>
                <a href="{{ url_for('logisticApplication') }}">Application</a>
            </div>
            <div class="sub-card">
                <h3>Perceptron</h3>
                <a href="{{ url_for('perceptronConcepts') }}">Basic Concepts</a>
                <a href="{{ url_for('perceptronApp') }}">Application</a>
            </div>
        </div>

        <div class="menu-card">
            <h2>Unsupervised Learning</h2>
            <div class="sub-card">
                <h3>K-Means Clustering</h3>
                <a href="{{ url_for('kmeans_concepts') }}">Basic Concepts</a>
                <a href="{{ url_for('kMeansManual') }}">Manual Exercise</a>
                <a href="{{ url_for('kmeansApp') }}">Application</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}